body {
    font-family: sans-serif;
    background-color: #0d1117; /* Azul marinho (padrão IDX) */
    color: #c9d1d9; /* Textos claros (padrão IDX) */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Ajuste conforme necessário */
    max-width: 960px; /* Largura máxima para telas maiores */
}

.explora-logo {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #f0f6fc; /* Cor clara para o logo */
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #30363d;
    background-color: #161b22;
    color: #c9d1d9;
    border-radius: 5px;
    box-sizing: border-box;
}

button#searchButton {
    padding: 12px 24px;
    background-color: #238636; /* Verde (padrão IDX) */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 20px;
}

button#searchButton:hover {
    background-color: #196c2e;
}

#searchResponse {
    background-color: #161b22;
    color: #c9d1d9;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    text-align: center; /* Centraliza o texto dentro da div, mas não justifica */
    box-sizing: border-box;
    white-space: pre-wrap; /* Mantém a formatação da resposta */
}

#searchResponse pre {
    text-align: left; /* Alinha o texto da resposta à esquerda dentro do <pre> */
}